configuration {
	font: "LiterationMono Nerd Font Regular 12";
	show-icons: true;
	icon-theme: "Papirus";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "gruvbox-dark"
